html {
	background: url("../images/chalkboard-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	background-color: black;
}
body {
	line-height: 1.5em;
	font-family: chalkduster;
}

.login-panel {
	width: 40%;
	color: white;
	margin: auto;
	padding-top: 8em;
}
.username {
	line-height: 1.5em;
	margin-bottom: 10px;
}

.input {
	background-color: transparent;
	border: dashed white;
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	color: white;
	font-family: chalkduster;
	padding: 7px;
}
