{% extends 'student/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{% endblock %}
{% block css %}{% endblock %}

{% block body %}
    <div class="container pt-3">
        <h1>Period {{ period }}: {{ course.course_name }}</h1><br>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                {% if active == 'grades' %}
                    <a class="nav-link active" href="">Grades</a>
                {% else %}
                    <a class="nav-link" href="{% url 'student-class' element='grades' enrollment_id=enrollment_id %}">Grades</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if active == 'dashboard' %}
                    <a class="nav-link active" href="">Dashboard</a>
                {% else %}
                    <a class="nav-link" href="{% url 'student-class' element='dashboard' enrollment_id=enrollment_id %}">Dashboard</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if active == 'resources' %}
                    <a class="nav-link active" href="">Resources</a>
                {% else %}
                    <a class="nav-link" href="{% url 'student-class' element='resources' enrollment_id=enrollment_id %}">Resources</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if active == 'discussions' %}
                    <a class="nav-link active" href="">Discussions</a>
                {% else %}
                    <a class="nav-link" href="{% url 'student-class' element='discussions' enrollment_id=enrollment_id %}">Discussions</a>
                {% endif %}
            </li>
        </ul>
        {% block content %}{% endblock %}
    </div>
{% endblock %}