{% extends "student/base.html" %}
{% load widget_tweaks %}
{% load student_extras %}
{% load static %}

{% block title %}Student Board{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'student/home.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row pt-4">
            <div class="col-lg-8">
                <h2>Grades</h2>
                <table class="table table-striped">
                    <thead class="">
                        <tr>
                            <th class="class-period text-center">P</th>
                            <th>Class</th>
                            <th class = "text-center" style="width: 150px">Grade</th>
                            <th class="class-teacher">Teacher</th>
                            <th class="class-mailto"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for class in class_data %}
                        <tr>
                            <td class="text-center align-middle">{{ class.period }}</td>
                            <td class="align-middle"><a href="{% url 'student-class' element='grades' enrollment_id=class.enrollment_id %}">{{ class.course_name }}</a></td>
                            {% if class.grade is None %}
                                <td class="text-center align-middle"><small>N/A</small></td>
                            {% else %}
                                <td class="text-center align-middle">{{ class.grade.0 }} ({{ class.grade.1|floatformat:2 }}%)</td>
                            {% endif %}
                            <td class="align-middle">{{ class.teacher_name }}</td>
                            <td><button class="btn" onclick="location.href='mailto:{{ class.teacher_email }}'">
                                <i class="fa fa-mail-bulk"></i>
                            </button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="col-lg">
                <h2>Notifications</h2>
                <table class="table">
                    <tbody>
                        {% for notification in notifications %}
                            <tr>
                                <td><a href="{{ notification.link|firm_url:request }}">{{ notification.message }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h2>Dashboard</h2>
                {% if late %}
                    <div class="card card-late">
                        <div class="card-body">
                            <h5 class="card-title">Late/Missing</h5>
                            <table class="table mb-0">
                                <tbody>
                                    {% for assignment_details, submission in late.items %}
                                        <tr>
                                            <td class="assignment-name align-middle">
                                                <small class="text-muted">{{ assignment_details.1.course_name }}</small><br>
                                                {{ assignment_details.0.assignment_name }}</td>
                                            {% if assignment_details.0.est_completion_time_min %}
                                                <td class="est-completion-time align-middle"><small>{{ assignment_details.0.est_completion_time_min }} min</small></td>
                                            {% else %}
                                                <td class="est-completion-time align-middle"></td>
                                            {% endif %}
                                            <td class="points align-middle">{{ assignment_details.0.points }}P</td>
                                            <td><button class="btn" onclick="location.href='mailto:{{ assignment_details.2.email_address }}?subject={{ assignment_details.0.assignment_name }}'">
                                                <i class="fa fa-mail-bulk"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if due_tomorrow %}
                    <div class="card card-due-tmmrw mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Due Tomorrow</h5>
                            <table class="table mb-0">
                                <tbody>
                                    {% for assignment_course, submission in due_tomorrow.items %}
                                        <tr>
                                            <td class="assignment-name align-middle">
                                                <small class="text-muted">{{ assignment_course.1.course_name }}</small><br>
                                                {{ assignment_course.0.assignment_name }}</td>
                                            {% if assignment_course.0.est_completion_time_min %}
                                                <td class="est-completion-time align-middle"><small>{{ assignment_course.0.est_completion_time_min }} min</small></td>
                                            {% else %}
                                                <td class="est-completion-time"></td>
                                            {% endif %}
                                            <td class="points align-middle">{{ assignment_course.0.points }}P</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if due_in_three_days %}
                    <div class="card card-due-in-three-days mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Due in 3 Days</h5>
                            <table class="table mb-0">
                                <tbody>
                                    {% for assignment_course, submission in due_in_three_days.items %}
                                        <tr>
                                            <td class="assignment-name align-middle">
                                                <small class="text-muted">{{ assignment_course.1.course_name }}</small><br>
                                                {{ assignment_course.0.assignment_name }}</td>
                                            {% if assignment_course.0.est_completion_time_min %}
                                                <td class="est-completion-time align-middle"><small>{{ assignment_course.0.est_completion_time_min }} min</small></td>
                                            {% else %}
                                                <td class="est-completion-time"></td>
                                            {% endif %}
                                            <td class="points align-middle">{{ assignment_course.0.points }}P</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if due_in_a_week %}
                    <div class="card card-due-in-week mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Due in a Week</h5>
                            <table class="table mb-0">
                                <tbody>
                                    {% for assignment_course, submission in due_in_a_week.items %}
                                        <tr>
                                            <td class="assignment-name">
                                                <small class="text-muted">{{ assignment_course.1.course_name }}</small><br>
                                                {{ assignment_course.0.assignment_name }}</td>
                                            {% if assignment_course.0.est_completion_time_min %}
                                                <td class="est-completion-time"><small>{{ assignment_course.0.est_completion_time_min }} min</small></td>
                                            {% else %}
                                                <td class="est-completion-time"></td>
                                            {% endif %}
                                            <td class="points align-middle">{{ assignment_course.0.points }}P</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if tests %}
                    <div class="card card-upcoming-tests mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Upcoming Tests</h5>
                            <table class="table mb-0">
                                <tbody>
                                    {% for assignment_course, submission in tests.items %}
                                        <tr>
                                            <td class="assignment-name">
                                                <small class="text-muted">{{ assignment_course.1.course_name }}</small><br>
                                                {{ assignment_course.0.assignment_name }}</td>
                                            <td class="est-completion-time"></td>
                                            <td class="points align-middle">{{ assignment_course.0.points }}P</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-4">
                <h2>Est. Workload: {{ est_completion_time }} min</h2>
                {% if class_workloads %}
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>Est. Workload</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for course, workload in class_workloads.items %}
                                        {% if workload > 0 %}
                                            <tr>
                                                <td>{{ course.course_name }}</td>
                                                <td>{{ workload }} min</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div style="height: 200px"></div>
{% endblock %}
