{% extends 'teacher/class.html' %}
{% load static %}
{% load widget_tweaks %}
{% load teacher_extras %}

{% block title %}P{{ period }}: {{ assignment.assignment_name }}{% endblock %}
{% block css %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-3">
            <div class="col">
                <h2>{{ assignment.assignment_name }}</h2>
                <small class="text-muted">Assigned: {{ assignment.assigned }}</small><br>
                <small class="text-muted">Due: {{ assignment.due_date }}</small>
                <form class="pt-2" method="post">
                    {% csrf_token %}
                    {% if edit == "edit=false" %}
                        <button class="btn btn-outline-danger" name="delete" title="Delete Assignment">
                            <i class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-outline-primary float-right" title="Edit Scores"
                                onclick="location.href='{% url 'teacher-assignment' class_id=class_id assignment_id=assignment.id|uuid_to_str edit='edit=true' %}'">
                            <i class="fa fa-pencil-alt"></i></button>
                        <button type="button" class="btn btn-outline-success float-right mr-2" title="Export"
                                onclick="location.href=''">
                            <i class="fa fa-file-excel"></i></button>
                        {% if assignment.attached_media %}
                            <button type="button" class="btn btn-outline-secondary float-right mr-2" title="Download Directions"
                                    onclick="location.href='{% url 'teacher-download-content' file_path=assignment.attached_media.path|download_format %}'">
                                <i class="fa fa-download"></i></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary float-right" type="submit" name="save">Save</button>
                        <button type="button" class="btn btn-light float-right"
                                onclick="location.href='{% url 'teacher-assignment' class_id=class_id assignment_id=assignment.id|uuid_to_str edit='edit=false' %}'">Cancel</button>
                    {% endif %}
                    <table class="table table-striped mt-2" data-toggle="table">
                        <thead>
                            <tr>
                                <th data-sortable="True" class="col-11">Student</th>
                                <th data-sortable="True" class="col-1 text-center">Score ({{ assignment.points }})</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student, submission in student_scores.items %}
                                <tr>
                                    <td>{{ student.first_name }} {{ student.last_name }}</td>
                                    {% if edit == "edit=true" %}
                                        <td> {{ form|get_field:student|add_class:'form-control' }}</td>
                                    {% else %}
                                        <td>{{ submission.score }} / {{ assignment.points }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        {% if stats %}
            <div class="row pt-3">
                <div class="col">
                    <h2>Analysis</h2>
                    <div class="card">
                        <div class="row pt-2">
                            <div class="col">
                                <h4 class="text-center">Distribution</h4>
                                <img class="card-img" src="data:image/png;base64,{{ curve }}">
                            </div>
                            <div class="col mr-2">
                                <h4 class="text-center">Box Plot</h4>
                                <img class="card-img" src="data:image/png;base64,{{ box }}">
                                <h4 class="text-center pt-3">General Statistics</h4>
                                <div>
                                    <p class="pt-2">
                                        <span class="font-weight-bold">Average: </span>
                                        <span>{{ stats.mean|floatformat:1 }}/{{ assignment.points }} ({{ stats.mean_perc|floatformat:2 }}%)</span>
                                        <br>
                                        <span class="font-weight-bold">Median: </span>
                                        <span>{{ stats.median }}</span>
                                        <br>
                                        <span class="font-weight-bold">Standard Dev: </span>
                                        <span>{{ stats.stdev|floatformat:1 }}</span>
                                        <br>
                                        <span class="font-weight-bold">Lowest Score: </span>
                                        <span>{{ stats.min }}</span>
                                        <br>
                                        <span class="font-weight-bold">Highest Score: </span>
                                        <span>{{ stats.max }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}