{% extends 'teacher/class.html' %}
{% load teacher_extras %}
{% load static %}

{% block css %}{% endblock %}
{% block title %}P{{ period }}: Discussions{% endblock %}

{% block content %}
    <div class="row pt-2">
        <div class="col">
            <button class="btn btn-outline-primary float-right" onclick="location.href='{% url 'teacher-new-thread' class_id %}'"><i class="fa fa-comments"></i></button>
        </div>
    </div>
    <ul class="list-group pt-2">
        {% for discussion in discussions %}
            <li class="list-group-item">
                <small class="text-muted">{{ discussion.0 }} - {{ discussion.1.date_posted }}</small>
                <h5 class="pt-1"><a href="{% url 'teacher-discussion' class_id=class_id discussion_id=discussion.1.id|uuid_to_str %}">
                     {{ discussion.1.title }}</a></h5>
                <p>{{ discussion.1.message }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}