{% extends 'teacher/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/gradesheet.css' %}">
{% endblock %}

{% block title %}Gradesheet: P{{ period }}{% endblock %}

{% block body %}
    <div class="main">
        <h1>{{ course_name }}, P{{ period }}</h1>

        <div class="control_panel">
            <button onclick="window.location.href = '{% url 'new-assignment' class_id%}'">New Assignment!</button>
            <button class="edit_button">Edit</button>
        </div>

        <table>
            <tr>
                <td class="names"><button>SWAP</button></td>
                {% for assignment in assignments %}
                    <td>{{ assignment.assignment_name }}</td>
                {% endfor %}
            </tr>
            {% for student_name, values in data.items %}
                <tr>
                    <td>{{ student_name }}</td>
                    {% for submission in values %}
                        <td>{{ submission.1.score }} / {{ submission.0.points }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}