{% extends 'teacher/class.html' %}
{% load teacher_extras %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'teacher/gradesheet.css' %}">{% endblock %}
{% block title %}P{{ period }}: Gradesheet{% endblock %}

{% block content %}
    <div class="row pt-4 pr-3 pl-3 clearfix">
        <button class="btn btn-outline-primary mr-2"
                onclick="window.location.href = '{% url 'teacher-new-assignment' class_id%}'"
                title="New Assignment">
            <i class="fa fa-file"></i></button>
        <button class="btn btn-outline-secondary"
                onclick="window.location.href='{% url 'teacher-new-category' class_id=class_id edit='edit=false' %}'">Edit Categories</button>
        <button class="btn btn-outline-primary ml-auto" title="Edit Gradesheet">
            <i class="fa fa-pencil-alt"></i></button>
    </div>
    {% if assignments %}
        <div class="row pt-3">
            <div class="col">
                <div class="" style="overflow-x: scroll;">
                    <table class="table table-sm table-bordered table-striped table-nonfluid table-header-rotated" data-toggle="">
                        <thead>
                            <tr>
                                <th class="no-border" style="width: 200px"></th>
                                {% for assignment in assignments %}
                                    <th class="rotate-45" style="width: 70px">
                                        <div class="">
                                            <span class="">
                                                <small class="text-muted nowrap">{{ assignment.1.category_name }}</small><br>
                                                <a href="{% url 'teacher-assignment' class_id=class_id assignment_id=assignment.0.id|uuid_to_str edit='edit=false' %}">
                                                    {{ assignment.0.assignment_name }}</a>
                                            </span>
                                        </div>
                                    </th>
                                {% endfor %}
                                <th data-sortable="True" class="no-border">Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student, values in data.items %}
                                <tr>
                                    <td style="border-left: 1px solid #FFF"><span class="nowrap">{{ student|name }}</span></td>
                                    {% for submission in values %}
                                        {% if submission.1.score != null %}
                                            <td
                                                {% if submission.1.score == 0 %}
                                                    class="nowrap missing"
                                                {% else %}
                                                    class="nowrap"
                                                {% endif %}>{{ submission.1.score|floatformat:1 }} / {{ submission.0.points }}</td>
                                        {% else %}
                                            <td class="nowrap">- / {{ submission.0.points }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% if grades|get_item:student|get_element:1 %}
                                        <td><span class="nowrap">{{ grades|get_item:student|get_element:1|floatformat:2 }}% - {{ grades|get_item:student|get_element:0 }}</span></td>
                                    {% else %}
                                        <td class="text-center"><small class="text-muted">N/A</small></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                <small class="text-center">No assignments to show</small>
            </div>
        {% endif %}
    </div>
    {% if grade_stats %}
        <div class="row pt-3">
            <div class="col">
                <h2>Analysis</h2>
                <div class="card">
                    <div class="row pt-2">
                        <div class="col">
                            <h4 class="text-center">Distribution</h4>
                            <img class="card-img" src="data:image/png;base64,{{ grade_dist }}">
                        </div>
                        <div class="col">
                            <h4 class="text-center">Box Plot</h4>
                            <img class="card-img" src="data:image/png;base64,{{ grade_box }}">
                            <h4 class="pt-3 text-center">General Statistics</h4>
                            <div>
                                <p class="pt-2">
                                    <span class="font-weight-bold">Average: </span>
                                    <span>{{ grade_stats.mean|floatformat:2 }}%</span>
                                    <br>
                                    <span class="font-weight-bold">Median: </span>
                                    <span>{{ grade_stats.median|floatformat:1 }}</span>
                                    <br>
                                    <span class="font-weight-bold">Standard Dev: </span>
                                    <span>{{ grade_stats.stdev|floatformat:1 }}</span>
                                    <br>
                                    <span class="font-weight-bold">Lowest Score: </span>
                                    <span>{{ grade_stats.min|floatformat:1 }}</span>
                                    <br>
                                    <span class="font-weight-bold">Highest Score: </span>
                                    <span>{{ grade_stats.max|floatformat:1 }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2 mb-5">
                    {% for row in category_data %}
                        <div class="row pt-2">
                            {% for col in row %}
                                <div class="col">
                                    <h4 class="text-center">{{ col.0 }}</h4>
                                    <img class="card-img" src="data:image/png;base64,{{ col.1.0 }}">
                                    <img class="card-img" src="data:image/png;base64,{{ col.1.1 }}">
                                    <p class="pt-2 text-center">
                                        <span class="font-weight-bold">Category Avg: </span>
                                        <span>{{ col.1.2.mean|floatformat:2 }}%</span>
                                        <br>
                                        <span class="font-weight-bold">Category Median: </span>
                                        <span>{{ col.1.2.median|floatformat:1 }}</span>
                                        <br>
                                        <span class="font-weight-bold">Category Standard Dev: </span>
                                        <span>{{ col.1.2.stdev|floatformat:1 }}</span>
                                        <br>
                                        <span class="font-weight-bold">Category Lowest: </span>
                                        <span>{{ col.1.2.min|floatformat:1 }}</span>
                                        <br>
                                        <span class="font-weight-bold">Category Highest: </span>
                                        <span>{{ col.1.2.max|floatformat:1 }}</span>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}