{% extends 'teacher/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/new_assignment.css'%}">
{% endblock %}

{% block title %}Create a New Assignment{% endblock %}

{% block body %}
    <div class="main">
    <h1>New Assignment:</h1>
        <form action="">
            <fieldset>
                <legend>Assignment Info</legend>
                <label for="assignment_name">Name: </label>
                <input type="text" id="assignment_name" name="assignment_name"><br>
                <label for="assignment_description">Description: </label>
                <input type="text" id="assignment_description" name="assigment_description"><br>
                <label for="category">Category: </label>
                <select name="category" id="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <div class="form_buttons">
                <button>Discard</button>
                <button>Save</button>
                <button>Assign</button>
            </div>
        </form>
    </div>
{% endblock %}