{% extends 'teacher/class.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}{% endblock %}

{% block title %}Create a New Assignment{% endblock %}

{% block content %}
    <div class="container pt-3">
        <h2>New Assignment:</h2>
        {% if form.errors or form.non_field_errors %}
            <p class="alert alert-danger">{{ form.errors }}</p>
            <p class="alert alert-danger">{{ form.non_field_errors }}</p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="assignment_name">Name: </label>
                {{ form.name|add_class:'form-control' }}
            </div>
            <div class="form-group">
                <label for="assignment_description">Description: </label>
                {{ form.description|add_class:'form-control' }}
            </div>
            <label for="category">Category</label>
            <div class="input-group">
                {{ form.category|add_class:'form-control'}}
                <button class="btn btn-light" onclick="location.href='{% url 'teacher-new-category' class_id=class_id edit='edit=false' %}'">New Category...</button>
            </div>
            <div class="row pl-3">
                <div class="input-group pt-4">
                    <div class="form-group pr-2">
                        <label for="points">Points:</label>
                        {{ form.points|add_class:'form-control' }}
                    </div>
                    <div class="form-group">
                        <label for="date">Due Date:</label>
                        {{ form.due_date|add_class:'form-control' }}
                    </div>
                    <div class="form-group">
                        <label for="time">Time:</label>
                        {{ form.due_time|add_class:'form-control' }}
                    </div>
                    <div class="form-group ml-auto">
                        <label class="text-muted" for="est_completion_time">Est. Completion Time (min): </label>
                        {{ form.est_completion_time_min|add_class:'form-control' }}
                    </div>
                    <div class="form-group m-auto">
                        <label class="text-muted" for="est_completion_time">Create Discussion Thread? </label><br>
                        {{ form.create_discussion_thread }}
                    </div>
                </div>
            </div>
            <div class="row pl-3 pt-2">
                <div class="form-group">
                    <label class="text-muted">Attached File:</label>
                    {{ form.attached_media }}
                </div>
            </div>
            <div class="">
                <button class="btn btn-danger" type="button" onclick="location.href='{% url 'teacher-class' element='gradesheet' class_id=class_id %}'">Discard</button>
                <button name="assign" type="submit" class="btn btn-primary float-right">Assign</button>
                <button name="save" class="btn btn-light float-right">Save</button>
            </div>
        </form>
    </div>
{% endblock %}