{% extends 'teacher/class.html' %}
{% load teacher_extras %}
{% load widget_tweaks %}
{% load static %}

{% block css %}{% endblock %}
{% block title %}P{{ period }}: Resources{% endblock %}

{% block content %}
    <div class="row pt-3">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="btn btn-primary float-right" type="submit">Upload</button>
                {{ form.media|add_class:'float-right' }}
            </form>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <ul class="list-group">
                {% for path, file in files %}
                    <li class="list-group-item">
                        <a href="{% url 'teacher-download-content' file_path=path|download_format %}">{{ file }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}