{% extends 'administration/add_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}{% endblock %}
{% block title %}Add a Teacher!{% endblock %}

{% block add_form_column %}
    <h2>Add a Teacher</h2>
    {{ create_form.errors|add_class:'alert alert-danger' }}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username: </label>
            {{ create_form.username|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            {{ create_form.password|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="first_name">First Name: </label>
            {{ create_form.first_name|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="last_name">Last Name: </label>
            {{ create_form.last_name|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="email_address">Email Address: </label>
            {{ create_form.email_address|add_class:'form-control' }}
        </div>
        <button class="btn btn-primary float-right" type="submit" name="save">Save</button>
        <button class="btn btn-light float-right" type="button" onclick="location.href='{% url 'administration-home' %}'">Cancel</button>
    </form>
{% endblock %}

{% block csv_template_description %}
    In order to insert multiple teachers into the system using a CSV, the CSV has to formatted correctly. Download the CSV here. Each teacher should have his/her own row.
{% endblock %}

{% block csv_template %}
    <a href="{% url 'administration-download-file' file_path='administration-teacher_template.csv' %}" class="btn btn-outline-primary">Download Template</a>
{% endblock %}