{% extends 'administration/add_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}{% endblock %}
{% block title %}Add a Class!{% endblock %}

{% block add_form_column %}
    <h2>Add a Class</h2>
    {{ create_form.errors|add_class:'alert alert-danger' }}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="course">Course: </label>
            {{ create_form.course|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="teacher">Teacher: </label>
            {{ create_form.teacher|add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="period">Period: </label>
            {{ create_form.period|add_class:'form-control' }}
        </div>
        <button class="btn btn-primary float-right" type="submit" name="save">Save</button>
        <button class="btn btn-light float-right" type="button" onclick="location.href='{% url 'administration-home' %}'">Cancel</button>
    </form>
{% endblock %}