.main {
    width: 80%;
    margin: auto;
}

table {
    width: 50%;
    border-collapse: collapse;
}

table, th, td{
    line-height: 2em;
    margin: 20px auto auto;
    border: 1px solid lightgray;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

.period_col {
    width: 20px;
}

.enrolled_col {
    width: 100px;
}