.card-late {
    border: 2px solid red !important;
    border-radius: 10px !important;
}

.card-late td {
    border-top: 1px solid red;
}

.card-due-tmmrw {
    border: 2px solid #ffb909 !important;
    border-radius: 10px !important;
}

.card-due-tmmrw td {
    border-top: 1px solid #ffb909;
}

.card-due-in-week {
    border: 2px solid green !important;
    border-radius: 10px !important;
}

.card-due-in-week td {
    border-top: 1px solid green;
}

.nowrap {
    white-space: nowrap;
}