{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>BlackBoard Login</title>
		<link rel="stylesheet" type="text/css" href="{% static 'board/home.css' %}">
	</head>
	<body>
        <div class="home-panel">
            <h1>Welcome to Blackboard!</h1>
            <button class="student button" onclick="location.href='{% url "student-board" %}'">Student Board</button>
            <br>
            <button class="teacher button" onclick="location.href='{% url "teacher-board" %}'">Teacher Board</button>
            <br>
            <button class="admin button">Admin Board</button>
        </div>
	</body>
</html>
