{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Blackboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'board/boot/css/bootstrap.css' %}">
    <script src="{% static 'board/boot/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row h-100">
            <div class="col-6 m-auto">
                <div class="card card-body">
                    <h1>Welcome to Blackboard!</h1>
                    <button class="btn btn-outline-primary" onclick="location.href='{% url "student-board" %}'">Student Board</button>
                    <button class="btn btn-outline-secondary mt-3" onclick="location.href='{% url "teacher-board" %}'">Teacher Board</button>
                    <button class="btn btn-outline-danger mt-3" onclick="location.href='{% url 'administration-home' %}'">Admin Board</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
