.main {
    width: 70%;
    margin: auto;
}

table {
    width: 90%;
    border-collapse: collapse;
}

table, th, td{
    line-height: 2em;
    margin: 10px auto auto;
    border: 1px solid lightgray;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

button {
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
}

button:hover {
    background-color: darkred;
    color: white;
}

.names {
    width: 150px;
}

.control_panel {
    width: 90%;
    margin: 10px auto auto;
}

.edit_button {
    float:right;
}