body {
    background-color: #FFFFFA;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", serif;
}

.navigation-bar {
    list-style-type: none;
    background-color: #702632;
    overflow: hidden;
    text-align: center;
}

.navigation-bar a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    width: 5%;
}

.navigation-bar a:hover {
    color: #E4572E;
}